@import url(pygments.css);

/* Reset */

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

a {
    text-decoration: none;
}

/* General presentation */

html, body {
    font-family: 'Helvetica Neue', Helvetica, 'DejaVu Sans', Arial, sans-serif;
}

h1 {
    font-size: 3em;
    text-indent: -1em;
    margin: .5em 0;
    color: slategray;
}

h2, h3, h4, h5, h6 {
    margin: 1em 0;
    color: slategray;
}

p {
    margin: 1em 0;
    text-align: justify;
}

ul, ol {
    margin-left: 2em;
}

pre {
    padding: 1em;
    margin: 1em 0;
    background-color: rgba(240, 200, 12, 0.02);
    border: 1px solid rgba(240, 200, 12, 0.2);
}

a {
    color: slategray;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin: 1em auto 1em auto;
    max-width: 100%;

    border-radius: 2.5%;
    box-shadow: .2em .2em .3em #999;
    transform: rotate(-.15deg);
    -webkit-transform: rotate(-.15deg);
}

/* Navigation */

nav {
    height: 2.4em;
    padding-top: .3em;
    text-align: center;
    background: slategray;
    margin-bottom: 2em;
    box-shadow: .08em .2em .3em darkgray;
}

nav ul {
    margin-left: 0;
}

nav ul li {
    display: inline;
    list-style-type: none;
}

nav ul li a {
    color: #FFF;
    font-size: 1.7em;
    font-weight: bold;
    padding: 0 2em;
    text-decoration: none;
    letter-spacing: .05em;
    text-shadow: -0.05em -0.04em 0.02em darkslategray;
}

nav ul li a:hover {
    text-decoration: none;
    color: slategray;
    background-color: #FFF;
    border-radius: .3em;
    text-shadow: none;
}

/* Main content */

div#content {
    width: 50%;
    margin: 1em auto 0 auto;
}

div.byline {
    color: slategray;
}

ul#posts li {
    list-style-type: none;
}

ul#posts li date {
    margin-left: -1em;
    margin-right: .5em;
    color: lightslategray;
}

ul#posts li h2 {
    display: inline;
}

ul#posts li h2 a {
    color: slategray;
}

ul#posts li p a.view-post {
    display: block;
    float: right;
    margin-top: .3em;
}
