:markdown
  # About me

  My name is Anders Wold Eldhuset, and this is my website. I study computer 
  science at the [Norwegian University of Science and Technology][NTNU]. When
  I'm not studying, I sometimes write for the student newspaper [readme][readme].
  I am also a web developer for the student society [Samfundet][samfundet].

  # About this site

  This web site runs on free and open source software. The list below names
  some of projects involved in delivering my words to you.

  - [FreeBSD](http://www.freebsd.org)
  - [nginx](http://nginx.org/)
  - [PostgreSQL](http://www.postgresql.org)
  - [Ruby on Rails](http://rubyonrails.org)
    * [Unicorn](http://unicorn.bogomips.org)
    * [Capistrano](https://github.com/capistrano/capistrano/wiki)
    * [Haml](http://haml-lang.com) and [Sass](http://sass-lang.com)
  - [git](http://git-scm.com)

  The source code of the web site itself is also available online,
  should you be interested in that sort of thing; you can find it on
  [github](https://github.com/andereld/eldhuset.org).

  # Contact

  If you'd like to contact me, you can send an email to *anders*
  [at] *eldhuset* [dot] *org*. I also make occasional appearances on
  [Google+][Google+]. I don't follow spammers and such, though, so if you think
  I should follow you, drop me a line and say hi.

  [NTNU]: http://www.ntnu.no "NTNU"
  [readme]: https://abakus.no/pages/view/komiteer/readme "readme"
  [samfundet]: http://www.samfundet.no "Samfundet"
  [Google+]: https://profiles.google.com/u/0/113650343243081740523
