:markdown
  # About me

  My name is Anders Wold Eldhuset, and this is my website. I study computer 
  science at the [Norwegian University of Science and Technology][NTNU]. When
  I'm not studying, I sometimes write for the student newspaper [readme][readme].
  I am also a web developer for the student society [Samfundet][samfundet].

  # About this site

  This website has primarily two functions:

  - To provide me with a platform for experimenting and learning about web
    development
  - To provide me with a place to put text, media files or whatever I want to
    put somewhere

  This may or may not be of any interest to you, but there it is. For what it's
  worth, this site was made with free, open source software such as:

  - [FreeBSD](http://www.freebsd.org)
  - [nginx](http://nginx.org/)
  - [PostgreSQL](http://www.postgresql.org)
  - [Ruby on Rails](http://rubyonrails.org)
    * [Unicorn](http://unicorn.bogomips.org)
    * [Capistrano](https://github.com/capistrano/capistrano/wiki)
    * [Haml](http://haml-lang.com)
  - [git](http://git-scm.com)

  [NTNU]: http://www.ntnu.no "NTNU"
  [readme]: https://abakus.no/pages/view/komiteer/readme "readme"
  [samfundet]: http://www.samfundet.no "Samfundet"
