:markdown
  # Welcome to eldhuset.org

  This site is currently under construction. Here's some [Ruby][ruby]:

  ``` ruby
  def factorial(n)
    if n == 0
      1
    else
      n * factorial(n - 1)
    end
  end
  ```

  [ruby]: http://www.ruby-lang.org "Ruby"
