- if Post.any?
  - Post.all.reverse.each do |p|
    %article
      %h2= link_to p.title, p
      = render :partial => 'posts/pubdate',
                           :locals => { :post => p }
      = render :partial => 'posts/image',
                           :locals => { :post => p,
                                        :image_link => p }
      :markdown
        #{p.body}
      %hr
- else
  %p No posts found.
