/* COLORS */

$fg-color:          #232323; // black
$bg-color:          #FFFFFF; // white
$main-accent-color: #708090; // glaucous
$alt-accent-color:  #663300; // brown

/* for code blocks and such */
$box-bg-color:         #F3F3F3;
$box-border: solid 1px #CCCCCC;

/* ordinary links (not navigation) */
$link-color: darken($main-accent-color, 10%);

/* GENERAL SETTINGS */

body {
  background-color: $bg-color;
  font-size: 100%;
}

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* NAVIGATION */

header {
  background-color: $main-accent-color;
  margin-bottom: 2.7em;
  border-bottom: .4em solid darken($main-accent-color, 10%);
}

nav {
  color: $bg-color;
  text-align: center;
  height: 2.3em;

  li {
    list-style-type: none;
    display: inline;
  }

  li a {
    color: $bg-color;
    font-size: 1.5em;
    font-weight: bold;
    font-style: normal;
    padding: 0 2em;
    
    &:hover, &:active {
      color: $main-accent-color;
      background-color: $bg-color;
      text-decoration: none;
    }

    &:focus {
      color: $bg-color;
      background-color: darken($main-accent-color, 10%);
    }
  }
}

/* MAIN TEXT */

div.container {
  margin-bottom: 2em;

  h1 {
    color: $main-accent-color;
    margin-left: -40px; // == pull-1 in blueprint/grid.css
  }

  p {
    text-align: justify;
    margin-top: 1em;
  }

  ul {
    margin: 0 -40px 0 40px; // == push-1 in blueprint/grid.css
    list-style-type: square;
  }

  time {
    font-size: .9em;
    color: $main-accent-color;
  }
}

/* LINKS */

a {
  color: $link-color;
  text-decoration: none;
  font-style: italic;

  &:hover {
    color: lighten($link-color, 20%);
    text-decoration: underline;
  }
}

/* CODE BLOCKS */

pre {
  background-color: $box-bg-color;
  border: $box-border;
  padding: .4em .8em;
  font-family: 'Menlo', 'Courier New', 'Terminal', monospace;
}

/* FORMS */

.form-field {
  clear: both;
}

.form-label {
  display: block;
  float: left;
  text-align: right;
  margin: .1em 0 0 0;
}

.form-input {
  display: block;
  padding: 0 1em;
  margin: 1em 5em;
}

.form-submit {
  float: right;
}
