/* site-wide */

$fg-color:      #232323;
$bg-color:      #FFFFFF;
$accent-color:  #708090;
// $accent-color:  #663300;

body {
  background-color: $bg-color;
  font-size: 100%;
}

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* navigation */

header {
  background-color: $accent-color;
  margin-bottom: 1em;
//  border-bottom: .5em solid darken($accent-color, 10%);
}

nav {
  color: $bg-color;
  text-align: center;

  li {
    list-style-type: none;
    display: inline;
  }

  li a {
    color: $bg-color;
    font-size: 1.5em;
    font-weight: bold;
    font-style: normal;
    padding: 0 2em;
    
    &:hover {
      color: $accent-color;
      background-color: $bg-color;
      text-decoration: none;
    }
  }
}

/* links */

$link-color: darken($fg-color, 10%);

a {
  color: $link-color;
  text-decoration: none;
  font-style: italic;

  &:hover {
    color: lighten($link-color, 20%);
    text-decoration: underline;
  }
}

/* main content */

div.container {
  h1 {
    color: $accent-color;
    margin-left: -40px; // == pull-1 in blueprint/grid.css
  }

  p {
    text-align: justify;
  }
}
