// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.post_image {
  margin-top: 1em;
  display: block;
  border-radius: 20px;
  box-shadow: 4px 3px 3px #999;
  -webkit-transform: rotate(-.15deg); // necessary (for now)
  transform: rotate(-.15deg);
}
